config rclone-rest-server
	option enabled '0'
  #	option addr ':8000'
  #	option path '/srv/restic'			# data directory (default "/tmp/restic")
	# option append_only '0'				# enable append only mode
	# option htpasswd_file '/etc/rclone-rest-server/users'	# location of .htpasswd file (default: "<data directory>/.htpasswd")
	# option private_repos '0'			# users can only access their private repo
	# option tls '1'						# turn on TLS support
	# option cert '/etc/uhttpd.cer' # TLS certificate path
	# option key '/etc/uhttpd.key' # TLS key path

# config rclone-rest-server
	# option enabled '0'
  #	option addr ':8081'
  #	option path '/srv/restic2'			# data directory (default "/tmp/restic")
	# option append_only '0'				# enable append only mode
	# option htpasswd_file '/etc/rclone-rest-server/users2'	# location of .htpasswd file (default: "<data directory>/.htpasswd")
	# option private_repos '0'			# users can only access their private repo
	# option tls '1'						# turn on TLS support
	# option cert '/etc/uhttpd.cer' # TLS certificate path
	# option key '/etc/uhttpd.key' # TLS key path
