#config tvheadend service
#	 option nosyslog '0'
#	 option use_temp_epgdb '0'
#	 option config_path '/etc/tvheadend'

config tvheadend server
	option ipv6 '1'
	# If bindaddr is not set, it will default to LAN IP address (uci get network.lan.ipaddr).
	# To bind all interfaces, set it to "0.0.0.0".
#	 option bindaddr '0.0.0.0'
#	 option http_port '9981'
#	 option http_root '/tvheadend'
#	 option htsp_port '9982'
#	 option htsp_port2 '9983'
#	 option xspf '0'
#	 option noacl '0'
