config oui global
    option locale 'auto'
    option theme 'dark'

config no-auth
    option module 'ui'
    list func 'get_locale'
    list func 'get_theme'

config user
    option username 'admin'
    # echo -n admin:123456 | md5sum
    option password '2d08086927f4d87a31154aaf0ba2e067'
    option acl admin
