# Use your own MCProxy config file
config mcproxy 'mcproxy_file'
	option disabled '1'
	option respawn '1'
	option file '/etc/mcproxy.conf'

# Use OpenWrt UCI config
config mcproxy 'mcproxy'
	option disabled '1'
	option respawn '1'
	option protocol 'IGMPv3'

###########################################

# Simple configuration examples

config instance
	option disabled '1'
	option name 'proxy1'
	list upstream 'eth1'
	list downstream 'eth0.2'

config instance
	option disabled '1'
	option name 'proxy2'
	list upstream 'eth0.2'
	list downstream 'eth0.4'
	list downstream 'br-lan'

config instance
	option disabled '1'
	option name 'proxy3'
	list upstream 'eth1.2'
	list upstream 'eth1.4'
	list downstream 'eth0.1'

###########################################

# Advanced configuration example

config instance
	option name 'A'
	list upstream 'ap'
	list upstream 'a1'
	list downstream 'ap'
	list downstream 'a2'

config instance
	option name 'B'
	list upstream 'bp'
	list upstream 'b1'
	list downstream 'bp'
	list downstream 'b2'

config table
	option name 'allways'
	list entries '(*|*)'

config table
	option name 'piA_peering_ifs'
	list entries 'ap(*|*)'

config table
	option name 'piA_upstreams'
	list entries 'a1(*|*)'

config table
	option name 'piB_peering_ifs'
	list entries 'bp(*|*)'

config table
	option name 'piB_upstreams'
	list entries 'b1(*|*)'

config behaviour
	option instance 'A'
	option section 'upstream'
	option interface '*'
	option direction 'in'
	option rulematching 'mutex 10'

config behaviour
	option disabled '1'
	option instance 'A'
	option section 'upstream'
	option interface '*'
	option direction 'out'
	option rulematching 'all'

config behaviour
	option instance 'A'
	option section 'upstream'
	option interface 'ap'
	option direction 'out'
	option table 'allways'

config behaviour
	option disabled '1'
	option instance 'A'
	option section 'upstream'
	option interface 'ap'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option instance 'A'
	option section 'upstream'
	option interface 'a1'
	option direction 'out'
	option table 'piA_peering_ifs'

config behaviour
	option disabled '1'
	option instance 'A'
	option section 'upstream'
	option interface 'a1'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option instance 'A'
	option section 'downstream'
	option interface 'ap'
	option direction 'in'
	option table 'allways'

config behaviour
	option instance 'A'
	option section 'downstream'
	option interface 'ap'
	option direction 'out'
	option table 'piA_upstreams'

config behaviour
	option disabled '1'
	option instance 'A'
	option section 'downstream'
	option interface 'a2'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option disabled '1'
	option instance 'A'
	option section 'downstream'
	option interface 'a2'
	option direction 'out'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option instance 'B'
	option section 'upstream'
	option interface '*'
	option direction 'in'
	option rulematching 'mutex 10'

config behaviour
	option disabled '1'
	option instance 'B'
	option section 'upstream'
	option interface '*'
	option direction 'out'
	option rulematching 'all'

config behaviour
	option instance 'B'
	option section 'upstream'
	option interface 'bp'
	option direction 'out'
	option table 'allways'

config behaviour
	option disabled '1'
	option instance 'B'
	option section 'upstream'
	option interface 'bp'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option instance 'B'
	option section 'upstream'
	option interface 'b1'
	option direction 'out'
	option table 'piB_peering_ifs'

config behaviour
	option disabled '1'
	option instance 'B'
	option section 'upstream'
	option interface 'b1'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option instance 'B'
	option section 'downstream'
	option interface 'bp'
	option direction 'in'
	option table 'allways'

config behaviour
	option instance 'B'
	option section 'downstream'
	option interface 'bp'
	option direction 'out'
	option table 'piB_upstreams'

config behaviour
	option disabled '1'
	option instance 'B'
	option section 'downstream'
	option interface 'b2'
	option direction 'in'
	option whitelist '1'
	option table '{(*|*)}'

config behaviour
	option disabled '1'
	option instance 'B'
	option section 'downstream'
	option interface 'b2'
	option direction 'out'
	option whitelist '1'
	option table '{(*|*)}'
