config daemon args
        # daemon is started as 'knxd $options $url'
        # use 'knxd --help' to get all possible options'
        #
        # typical example for options for tunnel mode
        option options '-D -T -S -d/tmp/knxd.log -i -p/var/run/knxd.pid'
        # add '-t1023' or '--trace=1023' for full log trace

        # example with tpuarts interface
        # option url 'tpuarts:/dev/ttyAMA0'
        # example with IP interface in tunnel mode
        option url 'ipt:192.168.1.20'
