config server 'A'
	option debug "debug-A"
	option port 6720
	option server "knxd_tcp"
	option systemd_ignore 0

config server 'B'
	option socktype "unix"
	option path "/var/run/knxd"
	option server "knxd_unix"
	option systemd_ignore 0

config driver 'C'
	option socktype "ip"
	option debug "debug-C"
	option driver "ip"
	option multicast_address "224.0.23.12"

config debug 'debug_A'
	option socktype "tcp"
	option error_level "7"
	
config debug 'debug_C'
	option socktype "ip"
	option trace_mask "7"

config main 'router'
	option addr "0.0.100"
	option background 1
	option client_addrs "2.2.20:10"
	option connections "A,B,C"
	option logfile "/var/log/knxd.log"
	option name "OpenWrt"

config daemon 'args'
	option cfg_source "uci"
	#option cfg_source "file"
	option cfg_path "/etc/knxd.ini"
