# Architecture definitions
owrt:arch=loongarch64
owrt:bits=64
owrt:endian=little

# Signals, from installed standard headers (asm-generic/signal.h)
owrt:sig_count=64
owrt:sigs='ZERO HUP INT QUIT ILL TRAP ABRT BUS FPE KILL USR1 SEGV USR2 PIPE ALRM TERM STKFLT CHLD CONT STOP TSTP TTIN TTOU URG XCPU XFSZ VTALRM PROF WINCH IO PWR SYS'
owrt:sig_name_extra='IOT POLL UNUSED'
owrt:sig_num_extra='6 29 31'

# Took from existing Perl 5.40 build.
d_casti32='define'
d_long_double_style_ieee='define'
d_modflproto='define'
doublekind='3'
longdblkind='1'
need_va_copy='undef'
quadkind='2'
