config airos-dfs-reset general
	option interval		'600' # Check every x seconds
	option reset_sleep	'120' # Sleep after reset to let routing protocols reconverge

config device 'sample_ap' # make sure to not use dashes in name
	option target		'192.168.1.20'
	option username		'ubnt'
	option password		'ubnt'
	option daytime_limit	'2-7' # .. from 2:xx to 7:xx reset is allowed

#config device 'sample_ap1'
#	option target		'10.31.81.21'
#	option username		'ubnt'
#	option password		'...'
#	option daytime_limit	'0-23'
