config olsrd
	# uncomment the following line to use a custom config file instead:
	#option config_file '/etc/olsrd.conf'

config LoadPlugin
	option library 'olsrd_arprefresh.so.0.1'

config LoadPlugin
	option library 'olsrd_dyn_gw.so.0.5'

config LoadPlugin
	option library 'olsrd_httpinfo.so.0.1'
	option port '1978'
	list Net '0.0.0.0 0.0.0.0'

config LoadPlugin
	option library 'olsrd_nameservice.so.0.3'

config LoadPlugin
	option library 'olsrd_txtinfo.so.0.1'
	option accept '0.0.0.0'

config Interface
	list interface 'wlan'
