config prplmesh 'config'
	option enabled '0'
	option management_mode 'Multi-AP-Controller-and-Agent'
	option enable '1'
	option onboarding '0'
	option master '1'
	option gateway '1'
	option passive_mode '0'
	option wired_backhaul '1'
	option operational '0'
	option ssid 'REPLACE_WITH_SSID'
	option mode_enabled 'WPA2-Personal'
	option key_passphrase 'REPLACE_WITH_A_STRONG_PASSWORD'
	option mem_only_psk '0'
	option certification_mode '0'
	option stop_on_failure_attempts '0'
	option backhaul_wire_iface 'br-lan'
	option backhaul_band 'auto'
	option mandatory_interfaces 'wl0-ap0,wl1-ap0'
	option band_steering '1'
	option client_11k_roaming '1'
	option client_roaming '1'
	option load_balancing '0'
	option dfs_reentry '1'
	option roaming_hysteresis_percent_bonus '10'
	option steering_disassoc_timer_msec '200'
	option link_metrics_request_interval_sec '60'
	option clients_measurement_mode '1'
	option radio_stats_enable '1'
	option unsuccessful_assoc_report_policy '1'
	option unsuccessful_assoc_max_reporting_rate '30'
	option ire_roaming '1'
	option exclude_hostap_iface '0'
	option use_explicit_bss_profiles '1'

config wifi-device 'radio0'
	option hostap_iface 'wl0-ap0'
	option wireless_section 'default_radio0'
	option wireless_device 'radio0'
	option hostap_iface_steer_vaps 'wl0-ap0'
	option dcs_enable '0'

config wifi-device 'radio1'
	option hostap_iface 'wl1-ap0'
	option wireless_section 'default_radio1'
	option wireless_device 'radio1'
	option hostap_iface_steer_vaps 'wl1-ap0'
	option dcs_enable '0'

config bss_profile 'main_24_5'
	option ssid 'REPLACE_WITH_SSID'
	option key 'REPLACE_WITH_A_STRONG_PASSWORD'
	option encryption 'sae-mixed'
	option bands '2g 5g'
	option fronthaul '1'
	option backhaul '0'

config bss_profile 'main_6'
	option ssid 'REPLACE_WITH_SSID'
	option key 'REPLACE_WITH_A_STRONG_PASSWORD'
	option encryption 'sae'
	option bands '6g'
	option fronthaul '1'
	option backhaul '0'
