config global_defs
	list notification_email		"admin@youremail.org"
	option notification_email_from	"keepalived@openwrt.org"
	option smtp_server		"192.168.0.1"
	option smtp_connect_timeout	"30"
	option router_id		"LVS_DEVEL"

config vrrp_sync_instance
	option name			"VI_1"
	option state			"SLAVE"
	option interface		"eth1" # The assumption is that this is the default wan interface (generally true on OpenWRT)

