version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      day: 'saturday'
      interval: 'weekly'
    commit-message:
      prefix: 'ci'
    labels:
      - dependencies
      - GitHub/CI
