config global 'globals'
	option use_legacy_config '1'
	option port '1701'
#	option access_control '0'
#	option ipsec_saref '0'
#	option saref_refinfo '30'
#	option listen-addr '0.0.0.0'
#	option debug_avp '1'
#	option debug_network '1'
#	option debug_packet '1'
#	option debug_state '1'
#	option debug_tunnel '1'
#	option max_retries '5'

#config lns 'default'
#	option exclusive '1'
#	option ip_range '192.168.254.202-192.168.254.210'
#	option lac '10.0.1.2'
#	option hidden_bit '0'
#	option local_ip '192.168.254.200'
#	option length_bit '1'
#	option refuse_authentication '1'
#	option name 'VersaLink'
#	option ppp_debug '1'
#	option pppoptfile '/etc/ppp/options.xl2tpd'

#config secret
#	option local '*'
#	option remote 'marko'
#	option secret 'blah2'

#config secret
#	option local 'zeus'
#	option remote 'marko'
#	option secret 'blah'

#config secret
#	option local '*'
#	option remote '*'
#	option secret 'interop'
