
config shadowsocks-libev
	option enable '1'
	option server '127.0.0.1'
	option server_port '8388'
	option local_port '1080'
	option password 'barfoo!'
	option timeout '60'
	option encrypt_method 'rc4-md5'
	option ignore_list '/dev/null'
	option udp_mode '0'
	option tunnel_enable '1'
	option tunnel_port '5300'
	option tunnel_forward '8.8.4.4:53'
	option lan_ac_mode '0'
