config sshd
	option enable '1'
	list AllowUsers 'root'
	option Port '22'
	option RootLogin '1'
	option PasswordAuth '1'
	option RootPasswordAuth '1'

# Please refer to the sshd_config man page for detailed semantics.
# Below are UCI usage examples and defaults.

# AllowUsers: list of strings (default: empty)
# list AllowUsers 'root'

# BannerFile: path to banner file
# option BannerFile '/etc/banner'

# Ciphers: list of strings (default: empty)
# list Ciphers 'aes256-ctr'

# enable: boolean (default: 1)
# option enable '1'

# GatewayPorts: boolean (default: 0)
# option GatewayPorts '0'

# HostKeyAlgorithms: list of strings (default: empty)
# list HostKeyAlgorithms 'ecdsa-sha2-nistp521'

# HostKeyFiles: list of files (default: empty)
# list HostKeyFiles '/etc/ssh/ssh_host_ed25519_key'

# IdleTimeout: seconds (default: 0)
# option IdleTimeout '60'
#
# This option tries to support dropbear's IdleTimeout.
# To achieve this, it maps to the OpenSSH options:
#   ClientAliveInterval
#   ClientAliveCountMax
#
# From sshd_config(5):
#   ClientAliveCountMax:
#   The default value is 3. If ClientAliveInterval is set to 15,
#   and ClientAliveCountMax is left at the default, unresponsive
#   SSH clients will be disconnected after approximately 45 seconds.
#   Setting ClientAliveCountMax to 0 disables connection termination.
#
# To mimic dropbear IdleTimeout:
#   ClientAliveCountMax is set to 1
#   ClientAliveInterval is set to IdleTimeout value

# Interface: bind sshd to a specific interface's IP address (default: empty = all)
# option Interface 'lan'

# KexAlgorithms: list of strings (default: empty)
# list KexAlgorithms 'ecdh-sha2-nistp521'
# list KexAlgorithms 'diffie-hellman-group14-sha1'

# MacAlgorithms: list of strings (default: empty)
# list MacAlgorithms 'hmac-sha2-256'
# list MacAlgorithms 'hmac-sha2-512'

# MaxAuthTries: integer (default: 6)
# option MaxAuthTries '3'

# mdns: boolean (default: 1), publish this service over mdns
# option mdns '1'

# PasswordAuth: boolean (default: 1)
# option PasswordAuth '1'

# Port: TCP port number (default: 22)
# option Port '22'

# RootLogin: boolean (default: 1)
# option RootLogin '1'

# RootPasswordAuth: boolean (default: 1)
# option RootPasswordAuth '1'

# UsePAM: boolean (default: 0)
# option UsePAM '0'

