config acme
	option account_email 'email@example.org'
	option debug 0

config cert 'example_wildcard'
	option enabled 0
	option staging 1
	list domains example.org
	list domains sub.example.org
	list domains *.sub.example.org
	option validation_method dns
	option dns "dns_freedns"
	list credentials 'FREEDNS_User="ssladmin@example.org"'
	list credentials 'FREEDNS_Password="1234"'
	option calias "example.com"
	option dalias "dalias.example.com"

config cert 'example'
	option enabled 0
	option staging 1
	list domains example.org
	list domains sub.example.org
	validation_method webroot
