config igmpproxy
	option quickleave 1
#	option verbose [0-3](none, minimal[default], more, maximum)

config phyint
	option network wan
	option zone wan
	option direction upstream
#	option ratelimit 0 # the default value
#	option threshold 1 # the default value
	list altnet 192.168.1.0/24
#	list whitelist 239.0.0.0/8
#	list blacklist 239.255.255.250/32

config phyint
	option network lan
	option zone lan
#	option fw_drop_ssdp 1
	option direction downstream
