config 'etherwake' 'setup'
	# interface to use, defaults to 'eth0'
	#option 'interface' 'eth0'
	# send wake-up packet to the broadcast address, defaults to off
	#option 'broadcast' 'off'

config 'target'
	# name for the target
	#option 'name' 'example'
	# mac address of the machine to wake up
	#option 'mac' '00:11:22:33:44:55'
	# (optional) 6-byte secureOn password in ethernet hex format
	#option 'secureon' 'aa:bb:cc:dd:ee:ff'
	# (optional) 4-byte secureOn password in dotted decimal format
	#option 'secureon' '170.187.204.221'
	# wake up on system start, defaults to off
	#option 'wakeonboot' 'off'
