config interface 'wan'
	option debug '0'
	option status_interval '5'

#config interface 'wan2'
#	option debug '0'
#	option status_interval '5'

# delay is in ms
#config alarm_delay 'delay200'
#	option delay_low '100'
#	option delay_high '200'

# loss is in %
#config alarm_loss 'loss50'
#	option percent_low '30'
#	option percent_high '50'

#config target 'target1'
#	option interface 'wan'
#	option address '8.8.8.8'
#	option alarm_delay 'a1'
#	option alarm_loss 'loss50'
#	option probe_interval '5'

#config target 'target2'
#	option interface 'wan2'
#	option address '8.8.8.8'
