config shairport main
	option bname 'AirPort'
	option password ''
	option port '5002'
	option buffer '256'
	option log ''
	option cmd_start ''
	option cmd_stop ''
	option cmd_wait ''
	option audio_output 'alsa'
	option mdns 'avahi'

	# options for alsa output
	option output_dev ''
	option mixer_dev ''
	option mixer_type ''
	option mixer_control ''
	option mixer_index ''
