
config dufs 'config'
	option enabled '0'

	# Specify bind address or unix socket
	option bind ''
	# Specify port to listen on
	option port '5000'
	# Specify a (URL) path prefix
	option path_prefix ''
	# Path to an SSL/TLS certificate to serve with HTTPS
	option tls_cert ''
	# Path to the SSL/TLS certificate's private key
	option tls_key ''
	# Enable CORS, sets `Access-Control-Allow-Origin: *`
	option enable_cors '0'
	# Allow access from Internet
	option internet '0'

	# Specific path to serve
	option serve_path '/mnt'
	# Add auth roles, e.g. user:pass@/dir1:rw,/dir2
	list auth ''
	# Hide paths from directory listings, e.g. tmp,*.log,*.lock
	list hidden ''

	# Serve index.html when requesting a directory, returns 404 if not found index.html
	option render_index '0'
	# Serve index.html when requesting a directory, returns directory listing if not found index.html (enabled by default)
	option render_try_index '1'

	# Allow all operations
	option allow_all '0'
	# Allow upload files/folders
	option allow_upload '0'
	# Allow delete files/folders
	option allow_delete '0'
	# Allow search files/folders
	option allow_search '0'
	# Allow symlink to files/folders outside root directory
	option allow_symlink '0'
	# Allow zip archive generation
	option allow_archive '0'
	# Set zip compress level [possible values: none, low, medium, high]
	option compress ''

