config dnscrypt-proxy ns1
	option address '127.0.0.1'
	option port '5353'
	option resolver 'fvz-anyone'
	# option resolvers_list '/usr/share/dnscrypt-proxy/dnscrypt-resolvers.csv'
	# ephemeral keys option requires extra CPU cycles and can cause huge system load
	# option ephemeral_keys '0'
	# more details at https://github.com/jedisct1/dnscrypt-proxy#public-key-client-authentication
	# option client_key ''

#	config dnscrypt-proxy ns2
#		option address '127.0.0.1'
#		option port '5454'
#		# option resolver 'd0wn-random-ns1'
#		# option resolvers_list '/usr/share/dnscrypt-proxy/dnscrypt-resolvers.csv'
#		# option ephemeral_keys '0'
#		# option client_key ''
