config dnscrypt-proxy ns1
	option address '127.0.0.1'
	option port '5353'
	option resolver 'fvz-anyone'
	# option resolvers_list '/usr/share/dnscrypt-proxy/dnscrypt-resolvers.csv'
	# ephemeral keys option requires extra CPU cycles and can cause huge system load
	# option ephemeral_keys '0'
	# more details at https://github.com/jedisct1/dnscrypt-proxy#public-key-client-authentication
	# option client_key '/path/to/client_key'
	# option syslog '1'
	# option syslog_prefix 'dnscrypt-proxy'
	# option query_log_file '/path/to/logfile'
	# enable cache may speed up dnscrypt-proxy, see https://github.com/jedisct1/dnscrypt-proxy/wiki/Go-faster
	# option local_cache '0'
	# disable IPv6 may also speed up dnscrypt-proxy, see https://github.com/jedisct1/dnscrypt-proxy/wiki/Go-faster
	# option block_ipv6 '0'
	# Blacklists allow you to block domains, ip, ... see https://github.com/jedisct1/dnscrypt-proxy/wiki/Filtering
	# list blacklist 'domains:/path/to/domains-blacklist-file.txt'
	# list blacklist 'domains:/path/to/domains-blacklist2-file.txt'

#	config dnscrypt-proxy ns2
#		option address '127.0.0.1'
#		option port '5454'
#		# option resolver 'd0wn-random-ns1'
#		# option resolvers_list '/usr/share/dnscrypt-proxy/dnscrypt-resolvers.csv'
#		# option ephemeral_keys '0'
#		# option client_key ''
