config init
	option stdout 1
	option stderr 1
	option user frps
	option group frps
	option respawn 1
#	Full configuration options, see: 
#	https://github.com/fatedier/frp/blob/dev/conf/legacy/frps_legacy_full.ini

config conf 'common'
	option bind_port 7000
#	List options with name="_" will be directly appended to config file
#	list _ '# Key-A=Value-A'
