config security security
# Simplest security mode:
#	option password foo
# Trust consensus and CA-based share these options:
#	option certificate_file /etc/hnetd-cert.pem
#	option private_key_file /etc/hnetd-key.pem
# Then to enable trust consensus:
#	option trust_store /etc/hnetd-trust.dat
# Or CA-based authentication:
#	option trust_certificate_file /etc/ca-cert.pem

config pa pa
#	option ip4prefix 10.0.0.0/8
#	option ip4mode ifuplink
#	option ulaprefix fd12:3456:789A::/48
#	option ulamode off
	option persistent_store /etc/hnet-pa.store

config sd sd
#	option router_name openwrt
#	option domain_name home.


# Wifi allows for very basic wifi autoconfiguration
# Warning: This feature is unstable
config wifi wifi
#	option enable 0
#       option ssid ssidtest
#       option password test
