
config global 'client'
	option enabled '0'
	option remote_addr '1.2.3.4'
	option remote_port '9089'
	option mode 'fast3'
	option mtu '1350'
	option sndwnd '1024'
	option rcvwnd '4096'
	option datashard '10'
	option parityshard '3'
	option dscp '0'
	option nodelay '1'
	option interval '10'
	option resend '2'
	option nc '1'
	option lossctrl '0'
	option pacing '0'
	option fec '1'
	option sockbuf '16777216'
	option keepalive '10'
	option conntimeout '60'
	option key 'change_me'

config client 'client1'
	option enabled '0'
	option name 'ssh_tunnel'
	option local_interface 'br-lan'
	option local_port '9088'
	option target_port '22'
	option target_addr '127.0.0.1'

config global 'server'
	option enabled '0'
	option local_interface 'eth0'
	option local_port '9089'
	option mode 'fast3'
	option mtu '1350'
	option sndwnd '4096'
	option rcvwnd '1024'
	option datashard '10'
	option parityshard '3'
	option dscp '0'
	option nodelay '1'
	option interval '10'
	option resend '2'
	option nc '1'
	option lossctrl '0'
	option pacing '0'
	option fec '1'
	option sockbuf '16777216'
	option keepalive '10'
	option conntimeout '60'
	option key 'change_me'
