config weechat 'weechat'
	option enabled '0'
	option relay_enabled '0'
	option relay_address ''
	option relay_port '9000'
	option relay_tls '0'
	option relay_cert_key ''
	option relay_password ''
	option log_enabled '0'
	option log_dir '/var/log/weechat'

config server 'libera'
	option enabled '0'
	option address 'irc.libera.chat'
	option port '6697'
	option ssl '1'
	option ipv6 'auto'
	option autoconnect '1'
	option nicks 'weechat,weechat_'
	option username 'weechat'
	option realname 'WeeChat User'
	option auth_method 'none'
	option password ''
	option autojoin '#openwrt,#openwrt-devel'
