config librespeed 'main'
	option interface 'wan'
	option server 'auto'
	option scheme 'auto'
	option server_list ''

config librespeed 'schedule'
	option enabled '0'
	option interval '1d'
	option days '*'
	option hours '2-5'

config librespeed 'history'
	option enabled '1'
	option path '/tmp/librespeed/history.jsonl'
	option retention '30d'
	option archive_path ''
	option archive_retention '365d'
