config freshclam 'freshclam'
	option freshclam_config_file '/etc/clamav/freshclam.conf'
	option LogTime 'no'
	option LogVerbose 'no'
	option LogSyslog 'yes'
	option Debug 'no'
	option LogFacility 'LOG_LOCAL6'
	option Foreground 'no'
	option PidFile '/var/run/clamav/freshclam.pid'
	option DatabaseMirror 'database.clamav.net'
	option NotifyClamd '/etc/clamav/clamd.conf'
	option DatabaseOwner 'root'
	option CompressLocalDatabase 'yes'
	option DatabaseDirectory '/usr/share/clamav'
	option DNSDatabaseInfo 'current.cvd.clamav.net'
	option ScriptedUpdates 'yes'
	option DatabaseCustomURL '' # can take file:// ftp:// http(s)://
	option ConnectTimeout '60'
	option ReceiveTimeout '60'
	option PrivateMirror '' # e.g. mirror1.example.com
	option Checks '12'
	option TestDatabases 'yes'
	option Bytecode 'yes'
	option ExtraDatabase ' '
	option ExcludeDatabase ' '

