# Uncomment the stanza you want, and make sure to comment out the others, especially duplicate options.

#Arguments and defaults are as follows
config shairport-sync main
#       option name 'Shairport Sync' 		#default name, "Shairport Sync on %d"
#       option device default        		#default soundcard, volume control by software
						#(Troubleshooting hint: make sure the soundcard's volume is turned up fully -- use alsamixer or amixer)
#       option airplaylatency 88200
#       option ituneslatency 99400
#       option port 5000
#       option stuffing basic 			#options are 'basic' or 'soxr' if shairport-sync was compiled with soxr support
#       option awaitactioncompletion false 	#[don't] wait until beforeaction or afteraction completes
#       option beforeaction <action> 		#action must be a fully qualified program with no arguments. Default no action.
#       option afteraction <action> 		#action must be a fully qualified program with no arguments. Default no action.
#       option devicetype <devicetype>
#       option volumecontrolname <name>

#Here are some sample stanzas:

#For Raspberry Pi using the built-in soundcard for the headphone jack
#       option device 'hw:0'
#       option devicetype hardware
#       option volumecontrolname Master

#For Raspberry Pi with the "3D Sound" USB Soundcard
#        option name 'Pi'
#        option device 'hw:1'
#        option devicetype hardware
#        option volumecontrolname Speaker

#For Raspberry Pi with the first generation iMic or the Topping TP30 Class T Digital Mini Amplifier
#        option name 'Kitchen'
#        option device 'hw:1'
#        option devicetype hardware
#        option volumecontrolname PCM
