config irqbalance 'irqbalance'
	option enabled '0'

	# Level at which irqbalance partitions cache domains.
	# Default is 2 (L2$).
	#option deepestcache '2'

	# The default value is 10 seconds
	#option interval '10'

	# Specify excluded cpulist
	#option banned_cpulist '0'

	# List of IRQ's to ignore
	#list banirq '36'
	#list banirq '69'

