
config mysqld 'general'
    # Unless enable, MariaDB will not start without this
    option enabled '0'
    # User to run MariaDB as
    option user 'mariadb'
    # Group to run MariaDB
    option group 'mariadb'
    # If there is no database, create an empty one automatically
    option init '1'
    # If upgrading old database, run mysql_upgrade during restart
    option upgrade '1'
