# Example configuration

config iodined

	# Enable this section? Default is 'yes' (compatible with older conffiles).
	option enabled no

	### Minimal required configuration:

	# DNS traffic will be sent as queries for subdomains under this top domain.
	option tld 'jod.example.net'

	# Password (max. length 32) is just a basic authentication mechanism.
	# It does *not* encrypt or protect tunnel data from manipulation.
	option password ''

	# IP address/subnet assigned to tunnel device (see "devname").
	# Optional if device is preconfigured. Subnet defaults to /27, if not specified.
	option tunnelip '10.0.0.1/27'

	### Optional settings:

	# TUN device to use. Defaults to 'dns0'.
	#option devname 'jod1'

	# Tunnel device MTU. Defaults to '1130'. Does not work if 'tunnelip' is unspecified.
	#option mtu '1130'

	# Service will listen on UDP 'port' at 'address'. Defaults to port 53 on all interfaces.
	#option port '53'
	#option address '0.0.0.0'

	# By default, requests originating from non-matching IP addresses will be rejected.
	# Set to 'no' when requests are routed via a cluster of DNS servers or client IP is not static.
	#option checkip yes

	# IP address to return in NS responses. Default is to use the query's destination address.
	# When set to 'auto', myip.opendns.com is used to determine your public ip address.
	#option externalip 'auto'

	# chroot to directory after tunnel setup.
	#option chroot ''

	# Drop privleges and run as 'user' after tunnel setup.
	#option user 'nobody'

	# Forward DNS queries not matching the TLD option to this UDP port on localhost.
	# Leave unconfigured, if you are uncertain about the implications.
	#dnsport '53'

