# Sample configuration - do customize

config iodined

	# Enable this section? Default is 'yes' (for backwards compatiblity).
	option enabled no

	### Minimal required configuration:

	# DNS traffic will be sent as queries for subdomains under this top domain.
	option tld 'jod.example.net'

	# Basic authentication only - Password does *not* encrypt or attack-proof the tunnel.
	# Max. length is 32 characters.
	option password ''

	# IP address/subnet of tunnel device. CIDR netmask defaults to /27 if not specified.
	option tunnelip '10.0.0.1/27'
	# Option may be omitted if device is preconfigured (see "devname").

	### Optional settings:

	# Tunnel device to use. Ddefaults to 'dns0'.
	#option devname 'jod1'

	# Tunnel device MTU. Defaults to '1130'.
	# Do not use if you leave 'tunnelip' unconfigured.
	#option mtu '1130'

	# Service will listen on UDP 'port' at 'address'. Defaults to port 53 on all interfaces.
	#option port '53'
	#option address '0.0.0.0'

	# Reject requests originating from non-matching IP addresses. Default is no.
	# Set to 'yes' when requests are routed via a cluster of DNS servers.
	#option checkip yes

	# IP address to return in responses. Default is to use the query's destination.
	# "auto" uses the service myip.opendns.com to determine your public ip address.
	#option externalip 'auto'

	# chroot to directory after tunnel setup.
	#option chroot ''

	# Drop privleges and run as 'user' after tunnel setup.
	#option user 'nobody'

	# Forward DNS querys not matching the TLD to this UDP port on localhost.
	#dnsport '53'
