config mtproxy
	# For a new secret:
	# head -c 16 /dev/urandom | xxd -ps
	list secret 'CHANGEME'

	# You can set multiple secrets
	#list secret '<secret2>'

	# Port, used by clients to connect to the proxy.
	# You should pick one yourself!
	list port 3907

	# Local port.
	# You can use it to get statistics from mtproto-proxy. Like
	# wget localhost:8888/stats
	# You can only get this stat via loopback.
	#option local_port 8888

	# Enable IPv6
	option ipv6 '1'

	# Only allow clients with random padding option enabled
	#option random_padding_only '1'

	# The number of workers.
	# You can increase the number of workers, if you have a powerful server.
	#option workers 1

	# Number of CPU threads (1-64, default 2)
	#option cpu_threads 2

	# Number of I/O threads (1-64, default 4)
	#option io_threads 4

	# Other options you want to pass.
	#option other_options ''
