config service 'openfortivpn'
    option 'enabled' '0'
    option 'host' 'vpn-gateway'
    option 'port' '10443'
    option 'set_routes' '0'
    option 'set_dns' '0'
    option 'pppd_use_peerdns' '0'
    option 'username' 'foo'
    option 'password' 'bar'
config 'certs'
# example X509 certificate sha256 sum, trust only defined one(s)!
    option 'trusted_cert' 'e46d4aff08ba6914e64daa85bc6112a422fa7ce16631bff0b592a28556f993db'
