config wg_obfuscator 'main'
	option enabled '0'
	option source_lport '13255'
	option target '10.13.1.100:13255'
	option key ''
	option source_if '0.0.0.0'
	option masking 'AUTO'
	option verbose 'INFO'
	option max_clients '1024'
	option idle_timeout '300'
	option in_timeout '0'
	option resolve_interval '0'
	option max_dummy '4'
	option fwmark '0'
	option allow_clean '0'
	option static_bindings ''
	option log_file ''
	option log_timestamps 'AUTO'
