config global
	option enabled '1'
	option poll_interval '300'
	option entry_ttl '1200'
	option snoop '1'
	option debug '0'
	option rp_filter_manage '0'
	list snoop_device 'br-lan'

config policy 'vpn'
	option enabled '0'
	option interface 'wg0'
	option fallback 'main'
	list src '192.168.1.50'
	list domain 'example.com'
	list domain '*.example.com'
