config ptp4l 'ptp4l' # configures the ptp4l daemon
	#option role 'auto'			# role to use: 'auto' (default) - BMCA algo determines role
						# 'client' - will never attempt to be a server
						# 'server' - will never attempt to be a client

	#option loglevel '6'			# Logging verbosity for ptp4l (0-7). 6=INFO (default), 7=DEBUG.

	#option require_clock_sync '0'		# 0 - skip waiting for kernel to report clock is sync'd (default unless server)
						# 1 - require clock-in-sync check before starting (default if server)

	# For global lines in ptp4l.conf - Each item is one line like "key value" for the [global] section
	#list global_opts 'clockClass 6'

config ptp_interface # repeat multiple times for each interface ptp4l should work on
	option interface 'lan'			# required - UCI's interface name, init-script looks up kernel ifname as needed
	#option transport 'UDPv4'		# Network transport: UDPv4 (default), UDPv6, L2.
	#option delay_mechanism 'E2E'		# PTP delay mechanism: E2E (End-to-End, default), P2P (Peer-to-Peer).

	# For interface-specific sections in ptp4l.conf
	#list interface_opts 'logSyncInterval -3'

config phc2sys 'phc2sys' # configures the phc2sys daemon, which syncs either system clock from PHC in NIC (as a client, or vice versa as a server)
	#option phc_device '/dev/ptp0'		# PTP Hardware Clock device
						# User should verify this is the correct PHC for their PTP interface
	# specifies clock sync'ing direction 	# 'phc_to_sys': PHC (sync'd by ptp4l) disciplines system clock (default unless ptp4l role is 'server')
	#option sync_direction 'phc_to_sys'	# 'sys_to_phc': System clock disciplines PHC (default if ptp4l's role is 'server')

	#option loglevel '5'			# Logging verbosity for phc2sys, 5 by default, 6 if stats_interval is set

	#option stats_interval '0'		# Log status updates every N seconds (N defaults to 1 when -R param (by-default) is 1Hz).
						# By default/if unset, log-level (above) will be set to 5 and these messages will not be seen

	list extra_args ''			# For other phc2sys command line options.
						# Example: list extra_args '-O 0'

