package ahcpd

config ahcpd
	# Choose ahcp mode: client (default), server or forwarder
	## option 'mode' 'client'
	# Uncomment the following lines to enable ahcpd on the desired
	# interfaces.
	## list 'interface' 'lan'
	## list 'interface' 'wlan'

	# The following only makes sense in 'server' mode.
	# Tweak to suit your needs.
	## list 'prefix' 'fde6:20f5:c9ac:358::/64'
	## list 'prefix' '192.168.4.128/25'
	## list 'name_server' 'fde6:20f5:c9ac:358::1'
	## list 'name_server' '192.168.4.1'
	## list 'ntp_server' '192.168.4.2'
	## option 'lease_dir' '/var/lib/leases'

	# option 'id_file' '/var/lib/ahcp-unique-id'
	# option 'log_file' '/var/log/ahcpd.log'
	# The configuration file is not necessary since you can configure
	# everything from this file.  But still, you might prefer using it.
	## option 'conf_file' '/etc/ahcp/ahcp.conf'

	# option 'multicast_address' 'ff02::cca6:c0f9:e182:5359'
	# option 'port' '5359'
	# option 'ipv4_only' 'false'
	# option 'ipv6_only' 'false'
	# option 'lease_time' '3666'
	# option 'debug' '1'

