
config userparm
	option	key		'mac80211.phydiscovery'
	option	internal	'zhm discovery'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.ACKFailureCount[*]'
	option	internal	'zhm $1 dot11ACKFailureCount'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.FCSErrorCount[*]'
	option	internal	'zhm $1 dot11FCSErrorCount'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.RTSFailureCount[*]'
	option	internal	'zhm $1 dot11RTSFailureCount'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.RTSSuccessCount[*]'
	option	internal	'zhm $1 dot11RTSSuccessCount'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.FailedCount[*]'
	option	internal	'zhm $1 failed_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.FrameDuplicateCount[*]'
	option	internal	'zhm $1 frame_duplicate_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.MulticastReceivedFrameCount[*]'
	option	internal	'zhm $1 multicast_received_frame_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.MulticastTransmittedFrameCount[*]'
	option	internal	'zhm $1 multicast_transmitted_frame_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.MultipleRetryCount[*]'
	option	internal	'zhm $1 multiple_retry_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.ReceivedFragmentCount[*]'
	option	internal	'zhm $1 received_fragment_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.RetryCount[*]'
	option	internal	'zhm $1 retry_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.TransmittedFragmentCount[*]'
	option	internal	'zhm $1 transmitted_fragment_count'
	option	lock		'zhm'

config userparm
	option	key		'mac80211.TransmittedFrameCount[*]'
	option	internal	'zhm $1 transmitted_frame_count'
	option	lock		'zhm'


