
config userparm
	option  key			'owrt.log[*]'
        option  internal 		0
        option  cmd     		'logread | grep "$1" | tail -1'
        
config userparm
	option  key			'owrt.klog[*]'
        option  internal 		0
        option  cmd     		'dmesg | grep "$1" | tail -1'

config userparm
	option  key			'owrt.logcnt[*]'
        option  internal 		0
        option  cmd     		'logread | grep "$1" | wc -l'
        
config userparm
	option  key			'owrt.klogcnt[*]'
        option  internal 		0
        option  cmd     		'dmesg | grep "$1" | wc -l'

config userparm
	option  key			'owrt.boxid'
        option  internal 		0
        option  cmd     		'uci get uciprov.boxid.value'

config userparm        
        option  key                     'owrt.uciget[*]'
        option  internal                0
        option  cmd                     'uci get "$1"'
        option lock uci                  

config userparm        
        option key                      owrt.ipackages
        option internal                 0
        option cmd                      'opkg list-installed | cut -d " " -f 1 | tr "\n" " "'
        option lock opkg                 

config userparm        
        option key                      owrt.apackages
        option internal                 0
        option cmd                      'opkg list | cut -d " " -f 1 | tr "\n" " "'
        option lock opkg
        
config userparm        
        option key                      owrt.packageversion
        option internal                 0
        option cmd                      'opkg status "$1" | grep Version | cut -d " " -f 2'
        option lock opkg
        
config userparm
	option key			owrt.packagediscovery
	option internal                 1
	option lock 			opkg

config userparm
	option key			owrt.version
	option internal                 0
	option  cmd			'. /etc/openwrt_release && echo $DISTRIB_CODENAME'

config userparm
	option key			owrt.versiondescription
	option internal                 0
	option  cmd			'. /etc/openwrt_release && echo $DISTRIB_DESCRIPTION'
	
config userparm
	option key			owrt.versionrevision
	option internal                 0
	option  cmd			'. /etc/openwrt_release && echo $DISTRIB_REVISION'
