package zabbix_proxy

config zabbix_proxy config
	option	enable			true

	#option	proxymode		0
	#option	server 			127.0.0.1

	option dbname			'/tmp/zabbix_proxy.sqlite3'
	option logtype			system

	#option tlsconnect		psk
	#option tlsaccept		psk
	#option tlspskfile		'/etc/zabbix_proxy.psk'
	#option tlspskidentity		'psk-proxy'

	# If not set, system.hostname is used
	#option	hostname		somehostname


	

