package zabbix_agentd

config zabbix_agentd config
	option	enable			1

	option	server 			127.0.0.1
	#option	serveractive 		zabbix
	#option	listenport 		10050

	option logtype			system

	#option tlsconnect		psk
	#option tlsaccept		psk
	#option tlspskfile		'/etc/zabbix_agentd.psk'
	#option tlspskidentity		'psk-agent'

	# If not set, system.hostname is used
	#option	hostname		somehostname
	option	hostnameitem		system.hostname

	# We must run as root to get wifi and network info
	option allowroot		1

	#option	disableactive		0
	#option	disablepassive		0
	option logremotecommands	1
	#option enableremotecommands    0
