
config librespeed-go 'config'
	option enabled '0'

	# bind address, use empty string to bind to all interfaces
	option bind_address ''
	# backend listen port
	option listen_port '8989'

	# change the base URL
	# option url_base '/librespeed'
	# proxy protocol port, use 0 to disable
	option proxyprotocol_port '0'
	# Server location, use zeroes to fetch from API automatically
	option server_lat '0'
	option server_lng '0'
	# ipinfo.io API key, if applicable
	option ipinfo_api_key ''

	# assets directory path, defaults to `assets` in the same directory
	# if the path cannot be found, embedded default assets will be used
	option assets_path ''

	# password for logging into statistics page, change this to enable stats page
	# option statistics_password 'PASSWORD'
	# redact IP addresses (boolean)
	option redact_ip_addresses '0'

	# database type for statistics data, currently supports: none, memory, bolt, mysql, postgresql
	# if none is specified, no telemetry/stats will be recorded, and no result PNG will be generated
	option database_type 'none'
	# option database_hostname ''
	# option database_name ''
	# option database_username ''
	# option database_password ''

	# if you use `bolt` as database, set database_file to database file location
	# option database_file '/etc/librespeed-go/speedtest.db'

	# TLS and HTTP/2 settings. TLS is required for HTTP/2 (boolean)
	option enable_tls '0'
	option enable_http2 '0'

	# if you use HTTP/2 or TLS, you need to prepare certificates and private keys
	# option tls_cert_file '/etc/librespeed-go/cert.pem'
	# option tls_key_file '/etc/librespeed-go/privkey.pem'

