
config cryptdisk
#	option device /dev/base_device
#	option pre_mount_command 'test -x /etc/init.d/lvm2 && /etc/init.d/lvm2 start; sleep 5'
#	option mount_command 'block mount'

# initscript sections have no effect unless cryptdisk is set or disable is set to 1 (true)
config initscript
	option name lxc-auto
#	option disable 0
#	option restart 1

# Has no effect until dest supplied in datadir
config command
	option command /usr/sbin/cryptstart-varlog
	option do_start 1
	option do_stop 1
	option stop_options stop
	option start_options start

#config unmount
#	option command 'block umount'

#config post_unmount
#	option command "test -x /sbin/vgchange && vgchange -a n"

# dest needs to be filled in with actual mount point
#config datadir
#	option dest '/path/to/crypted-mountpoint'
#	option src '/orig/path/to/crypt'
#	list initscript luci_statistics
#	list initscript collectd 
#	list initscript vnstat 

