config domoticz
	option disabled '1'
	# (combination of: all,normal,status,error,debug)
	option loglevel 'normal'
	# (combination of: all,normal,hardware,received,webserver,eventsystem,python,thread_id,sql,auth)
	option debuglevel 'normal'
	# [user|daemon|local0 .. local7]
	option syslog 'daemon'
	# You can point it at ACME certs directly and it reloads automatically when they change.
	# option sslcert '/path/to/ssl.crt'
	# option sslkey '/path/to/ssl.key'
	# option sslpass 'passphrase'
	# option ssldhparam '/path/to/dhparam.pem'
	# option mdns '0'
	# option www '8080'
	option sslwww '0'
	# CAUTION - by default, /var is not persistent accross reboots
	# Don't forget the trailing / - domoticz requires it
	option userdata '/var/lib/domoticz/'

#config device
#	option product '658/200/0'
#	option symlink 'ttyACM-aeotec-zstick-g5'

#config device
#	option serial '526359'
#	option symlink 'ttyUSB-serial'

#config device
#	option usbif '2-1:1.0'
#	option symlink 'ttyUSB-port1'

#config device
#	option product '67b/2303/202'
#	option usbif '2-2:1.0'
#	option symlink 'ttyUSB-port2'
