config uci_git_backup 'config'
	option enabled '0'
	option remote_url ''
	option branch 'main'
	option auth_type 'password'
	option username ''
	option password ''
	option repo_path '/etc/uci-git-backup/repo'
	option author_name 'OpenWrt'
	option author_email 'openwrt@localhost'
	list extra_triggers ''
