
config fancontrol 'common'
	# Defines at which interval in seconds fancontrol should wake up
	option interval		'10'

	# Optional, fancontrol won't start if set to 1 (default: 0)
	option disabled		'1'


# fancontrol uses this to check that the configuration is still up-to-date
config device 'hwmon0'
	# Can be retrieved via "cat /sys/class/hwmon/hwmon*/name"
	option name		'coretemp'

	# Can be retrieved via "readlink -f /sys/class/hwmon/hwmon*/device | sed -e 's/^\/sys\///'"
	option path		'devices/platform/coretemp.0'

config device 'hwmon4'
	option name		'mlxsw'
	option path		'devices/pci0000:00/0000:00:01.0/0000:01:00.0'


config control
	# The fan's PWM output file
	option pwm		'hwmon4/pwm1'

	# The sensor's temperature input file
	option temp		'hwmon0/temp2_input'

	# The temperature below which the fan gets switched to minimum speed
	option min_temp 	'20'

	# The temperature over which the fan gets switched to maximum speed
	option max_temp 	'60'

	# The minimum PWM value at which the fan begins spinning
	option min_start 	'150'

	# The minimum PWM value at which the fan still spins
	option min_stop 	'100'

	# Optional, the fan's speed input file
	# fancontrol can check the fan speed and restart it if it stops unexpectedly
	option fan		'hwmon4/fan4_input'

	# Optional, the PWM value to use when the temperature is below min_temp (default: 0)
	option min_pwm		'0'

	# Optional, the PWM value to use when the temperature is over max_temp (default: 255)
	option max_pwm		'255'

	# Optional, how many last temperature readings are used to average the temperature (default: 1 -> no averaging)
	option average		'1'

	# Optional, disables this section (default: 0)
	option disabled		'0'

