config shairport main
	option disabled '1'
	option respawn '1'
	option bname 'AirPort'
	option password ''
	option port '5002'
	option buffer ''
	option log_file ''
	option err_file ''
	option meta_dir ''
	option cmd_start ''
	option cmd_stop ''
	option cmd_wait '0'
	option audio_output 'alsa'
	option mdns 'avahi'

	# options for alsa output
	option output_dev ''
	option mixer_dev ''
	option mixer_type ''
	option mixer_control ''
	option mixer_index ''

	# options for ao output
	option ao_driver ''
	option ao_name ''
	option ao_id ''
	option ao_options ''

	# options for pipe output
	option output_fifo ''

	# options for pulse output
	option pulse_server ''
	option pulse_sink ''
	option pulse_appname ''
