
config globals 'globals'
	option record_en '1'
	option round '15'
	option record_times '1080'
	option interval '1000'

config port 'port1'
	option enable '1'
	option pwr_thd '500'

config port 'port2'
	option enable '1'
	option pwr_thd '500'

config port 'port3'
	option pwr_thd '500'
	option enable '1'

config port 'port4'
	option enable '1'
	option pwr_thd '500'

config port 'port5'
	option enable '1'
	option pwr_thd '500'

config port 'port6'
	option enable '1'
	option pwr_thd '500'

config port 'port7'
	option enable '1'
	option pwr_thd '500'

config port 'port8'
	option enable '1'
	option pwr_thd '500'

