config nextdns main
    option enabled '1'

    # NextDNS custom configuration id (create on on https://nextdns.io).
    # If not defined, this package will act as a non-logging, non-filtering
    # DNS over HTTPS resolver.
    # option config abcdef

    # Listen on a custom local port so a DNS front (like dnsmasq) can use us as
    # a forwarder.
    option listen '127.0.0.1:5342'

    # Expose LAN clients information in NextDNS analytics.
    option report_client_info '1'

    # When enabled, use DNS servers located in jurisdictions with strong privacy laws.
    # Available locations are: Switzerland, Iceland, Finland, Panama and Hong Kong.
    option hardened_privacy '0'

    # Log individual queries to system log.
    option log_queries '0'