config adguardhome config
	# Where to store persistent data by AdGuard Home
	option workdir /var/adguardhome
        option jail 1
        # Specify additional files/folders to grant access in jail
        # list jail_mount '/etc/ssl/adguardhome.crt'
        # list jail_mount '/etc/ssl/adguardhome.key'
