config acme
       option state_dir '/etc/acme'
       option account_email 'email@example.org'
       option debug 0
       # option acme_url 'https://example.org/acme/acme/directory' # the URL to your ACME service
       # option acme_interface 'wan' # set to interface name, when ACME server is on another network as 'wan'

config cert 'example'
       option enabled 0
       option use_staging 1
       option keylength 2048
       # option dns 0
       # option tls 1 # this enables 'tls-alpn-01' challenge
       option update_uhttpd 1
       option update_nginx 1
       option update_haproxy 1
       option webroot "/www/.well-known/acme-challenge"
       # option user_setup "path-to-custom-setup.script"
       # option user_cleanup "path-to-custom-cleanup.script"
       list domains example.org
