# In the examples below, the IP addresses have the following meanings
#
# 90.60.90.77	- ssh server to become the gateway for locally captured traffic
#					can be a full fledged ssh host definition like: [username@]sshserver[:port]
#					or may reference an entry in the ~/.ssh/config file like: remote-ssh-gateway
#
# 90.60.90.0/24	- remote address of a subnet to forward using the given ssh host 90.60.90.77
#					specify 0/0 to forward all IPv4 or ::/0 for all IPv6 traffic
#
# 192.168.1.1	- internal lan network IP of this routing device for sshuttle to listen on
#					use 0.0.0.0 to listen on all interfaces and IP addresses
#					Listening on WAN side provides unrestricted access to remote networks!
#
# detailed parameter documentation can be found at https://sshuttle.readthedocs.io/en/stable/manpage.html
#

#config gateway '90.60.90.77'
#	option listen				'192.168.1.1:9090'
#	list subnets				'90.60.90.0/24' (or) '90.60.90.105,90.60.90.106'
#	option method				'auto'
#	option auto_hosts			'no'
#	option auto_nets			'no'
#	option dns					'no'
#	list ns_hosts				'8.8.8.8'
#	list ns_hosts				'9.9.9.9'
#	option to_ns				'90.60.90.1'
#	option python				'python3'
#	option exclude_subnet		'192.168.0.0/24'
#	option exclude_file			'/etc/config/sshuttle.subnets.excluded'
#	option verbose				'no'
#	option ssh_cmd				'ssh'
#	list seed_hosts				'90.60.90.105'
#	list seed_hosts				'90.60.90.106'
#	option latency_control		'yes'
#	option latency_buffer_size	'32768'
#	option subnets_file			'/etc/config/sshuttle.subnets'
#	option syslog				'no'
#	option disable_ipv6			'yes'
#	option mark					'0x01'
