
config cloudflared 'config'
	option enabled '0'
	option token ''
	option config '/etc/cloudflared/config.yml'
	option origincert '/etc/cloudflared/cert.pem'
	option edge-bind-address 'auto'
	option protocol 'auto'
	option region ''
	option retries '5'
	option loglevel 'info'
	option logfile '/var/log/cloudflared.log'

