
config cloudflared 'config'
	option enabled '0'
	option token ''
	option config '/etc/cloudflared/config.yml'
	option origincert '/etc/cloudflared/cert.pem'
	option edge_bind_address ''
	option edge_ip_version ''
	option grace_period ''
	option protocol 'auto'
	option region ''
	option retries ''
	option tag ''
	option metrics ''
	option loglevel 'info'
	option logfile '/var/log/cloudflared.log'

