config daemon args
        # daemon is started as 'linknx --config=$conf $options'
        # use 'linknx --help' to get all possible options'
        #
        # typical example
        option conf '/etc/linknx.xml'
        option options '-w --daemon=/tmp/linknx/linknx.log --pid-file=/var/run/linknx.pid'

