##
## DHTd is a distributed hash table daemon that uses the BitTorrent network.
##

config dhtd
	option enabled 1

## Add hashes to announce them to the network
#	list announce '00112233445566778899aabbcceeff0011223344'

## Load and store good nodes every 24h and on start/shutdown.
#	option peerfile '/etc/dhtd/peers.txt'

## Add static peer addresses.
	list peer 'bttracker.debian.org:6881'
	list peer 'router.bittorrent.com:6881'

## Execute a script for each result
#	option execute '/root/on_result.sh'

## Bind the DHT to this port.
#	option port '6881'

## Limit DHT communication to this interface.
#	option ifname 'lan'

## Verbosity: quiet, verbose or debug
#	option verbosity 'quiet'

## Disable multicast peer discovery on the LAN.
#	option lpd_disable '1'

## Path for dhtd-cli to connect to.
#	option cli_path '/tmp/dhtd.sock'
