<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">%h SANE Scanner Server</name>
  <service>
   <type>_sane._tcp</type>
   <port>6566</port>
  </service>
</service-group>
