config earlyoom 'main'
	option memory_term_percent '10'
	option memory_kill_percent '5'
	option swap_term_percent '10'
	option swap_kill_percent '5'

	option memory_term_kib '0'
	option memory_kill_kib '0'
	option swap_term_kib '0'
	option swap_kill_kib '0'

	option prefer_regex ''
	option avoid_regex '^netifd|dropbear|dnsmasq|odhcpd|odhcp6c|hostapd|wpa_supplicant$'
	option ignore_regex ''

	option pre_script_path ''
	option post_script_path ''

	option report_interval '3600'

	option debug_log '0'
	option high_priority '1'
	option kill_process_group '0'
	option sort_by_rss '0'
	option dry_run '0'
	option syslog '1'
