# For strongSwan ipsec config documentation see
# https://openwrt.org/docs/guide-user/services/vpn/strongswan/start

# This is the 'globals' config section for the 'strongswan.conf' file.
# For LuCI the section type ipsec should only appear once. It must therefore
# always be present and should not be added or removed manually.
config ipsec 'globals'
