# For strongSwan ipsec config documentation see
# https://openwrt.org/docs/guide-user/services/vpn/strongswan/start

# This is the 'globals' config section for the 'strongswan.conf' file.
# For LuCI the section type ipsec should only appear once. Since it is not
# possible to add or remove this section
config ipsec 'globals'
