config server 'server'
	option enabled '0'

config client 'client'
	option enabled '0'

	option enabled_tproxy '1'
	option tproxy_mark "0x1000"
	option tproxy_user "hysteria"
	option tproxy_port "2500"
	option tproxy_table "client"
	option tproxy_set "proxy"
	option tproxy_route_table "100"

	option enabled_dnsmasq '1'
	option dnsmasq_server "127.0.0.53"
	option dnsmasq_nftset "4#ip#client#proxy"
	list dnsmasq_domains "google.com"
