#!/bin/sh

#Q=/var/spool/msmtp/"$(id -un)"
#LOG=syslog
#MAXLOGLEVEL=7
#MSMTP_LOCK_DIR=/var/lock/msmtp/"$(id -un)"
#MSMTP_UMASK=077
#MSMTP_LOG_UMASK=007
#MSMTP_QUEUE_QUIET=true
#MSMTP_IGNORE_NO_RECIPIENTS=true
#MSMTP_QUEUE_ONLY=false
#MSMTP_SEND_DELAY=0
#MSMTP_MAXIMUM_QUEUE_LIFETIME=345600    # Four days
#MSMTPQ_NG=msmtpq-ng
#MSMTPQ_NG_QUEUE=msmtpq-ng-queue
#MSMTP_CONF=/etc/msmtprc
EMAIL_CONN_TEST=n
#EMAIL_CONN_TEST_PING=openwrt.org
#EMAIL_CONN_TEST_IP=8.8.8.8
EMAIL_CONN_TEST_SITE=openwrt.org
#MSMTP_HOLD_SMTP_MAIL=true
#MSMTP_HOLD_CLI_MAIL=false
