#Q=~/msmtp.queue
#LOG=~/log/.msmtp.queue.log
#MAXLOGLEVEL=7
#MSMTP_LOCKDIR=/var/lock
EMAIL_CONN_TEST=p
EMAIL_CONN_TEST_SITE=www.lede-project.org
#EMAIL_CONN_TEST_IP=8.8.8.8
#MSMTP_UMASK=077
#MSMTP_LOG_UMASK=077
#MSMTP_QUEUE_QUIET=false
#MSMTP_IGNORE_NO_RECIPIENTS=false
#MSMTP_QUEUE_ONLY=false
#MSMTP_SEND_DELAY=0
#MSMTP_MAXIMUM_QUEUE_LIFETIME=345600	# Four days
#MSMTP=msmtp
#MSMTPQ_NG_QUEUE=msmtpq-ng-queue
#MSMTP_HOLD_SMTP_MAIL=true
#MSMTP_HOLD_CLI_MAIL=false
