config snort 'snort'
	option config_file1 '/etc/snort/config1_advanced.conf'
	option config_file2 '/etc/snort/config2_engine.conf'
	option config_file3 '/etc/snort/config3_preprocessors.conf'
	option config_file4 '/etc/snort/config4_other.conf'
	option config_file5 '/etc/snort/config5_rules.conf'
	option interface ''
