
config openlist 'config'
	option enabled '0'
	option debug '0'

	# listen
	option listen_addr '0.0.0.0'
	option listen_http_port '5244'
	option listen_https_port '-1'
	option listen_force_https '0'
	option listen_cert_file ''
	option listen_key_file ''
	option listen_unix_file ''
	option listen_unix_file_perm ''

	# site
	option site_url ''
	option site_cdn ''
	option site_login_expire '48'
	option site_max_connections '0'
	option site_tls_insecure '0'

	# database
	option db_type 'sqlite3'
	option db_host ''
	option db_port '0'
	option db_user ''
	option db_pass ''
	option db_name ''
	option db_table_prefix 'x_'
	option db_ssl_mode ''

	# log
	option log_enable '1'
	option log_max_size '5'
	option log_max_backups '1'
	option log_max_age '15'

