config instance 'main'
	option enabled '1'
	option port '6379'
	option bind '127.0.0.1'
	option dir '/var/lib/valkey'
	option logfile '/var/log/valkey.log'
	option maxmemory '64mb'
	option maxmemory_policy 'allkeys-lru'
	list save '900 1'
	list save '300 10'
	list save '60 10000'
	option appendonly '0'
	option appendfilename 'appendonly.aof'
