#
# Please read ddns.sample
# or http://wiki.openwrt.org/doc/uci/ddns
#
config ddns "global"
	option date_format "%F %R"
#	option run_dir "/var/run/ddns"
#	option log_dir "/var/log/ddns"
	option log_lines "250"
	option allow_local_ip "0"


config service "myddns_ipv4"
	option service_name	"dyndns.com"
	option domain		"yourhost.example.com"
	option username		"your_username"
	option password		"your_password"
	option interface	"wan"
	option ip_source	"network"
	option ip_network	"wan"

config service "myddns_ipv6"
	option update_url	"http://[USERNAME]:[PASSWORD]@your.provider.net/nic/update?hostname=[DOMAIN]&myip=[IP]"
	option domain		"yourhost.example.com"
	option username		"your_username"
	option password		"your_password"
	option use_ipv6		"1"
	option interface	"wan6"
	option ip_source	"network"
	option ip_network	"wan6"

