#
# Please read http://wiki.openwrt.org/doc/uci/ddns
#
config ddns "global"
	option ddns_dateformat "%F %R"
#	option ddns_rundir "/var/run/ddns"
#	option ddns_logdir "/var/log/ddns"
	option ddns_loglines "250"
	option upd_privateip "0"


config service "myddns_ipv4"
	option service_name	"dyndns.org"
	option lookup_host	"yourhost.example.com"
	option domain		"yourhost.example.com"
	option username		"your_username"
	option password		"your_password"
	option interface	"wan"
	option ip_source	"network"
	option ip_network	"wan"

config service "myddns_ipv6"
	option update_url	"http://[USERNAME]:[PASSWORD]@your.provider.net/nic/update?hostname=[DOMAIN]&myip=[IP]"
	option lookup_host	"yourhost.example.com"
	option domain		"yourhost.example.com"
	option username		"your_username"
	option password		"your_password"
	option use_ipv6		"1"
	option interface	"wan6"
	option ip_source	"network"
	option ip_network	"wan6"

