config interface
	option interface	'lan'
	option AdvSendAdvert	1
	option AdvManagedFlag	0
	option AdvOtherConfigFlag 0
	list client		''
	option ignore		1

config prefix
	option interface	'lan'
	# If not specified, a non-link-local prefix of the interface is used
	list prefix		''
	option AdvOnLink	1
	option AdvAutonomous	1
	option AdvRouterAddr	0
	option ignore		1

config route
	option interface	'lan'
	list prefix		''
	option ignore		1

config rdnss
	option interface	'lan'
	# If not specified, the link-local address of the interface is used
	list addr		''
	option ignore		1

config dnssl
	option interface	'lan'
	list suffix		''
	option ignore		1
