config natmap
	option enable '0'
	option family ''
	option udp_mode '1'
	option interface ''
	option interval ''
	option stun_server 'stunserver.stunprotocol.org'
	option http_server 'example.com'
	option port '8080'
	option forward_target ''
	option forward_port ''
	option notify_script ''
	option log_stdout '1'
	option log_stderr '1'

