config sshguard
	# list of log files to scan delimited by space
	option logfiles		'/var/log/syslog'

	# Whitelist configuration files delimited by space
	option whitelist	'/etc/sshguard/whitelists'

	# Other options
	# -a	Number of hits after which blocking an address (40)
	# -p	Seconds after which unblocking a blocked address (420)
	# -s	Seconds after which forgetting about a cracker candidate (1200)
	option args		'-a 40 -p 420 -s 1200'
