package babeld

# Babeld reads options from the following files (the last one takes precedence
# if an option is defined in several places):
# - the file defined by the option conf_file (default: /etc/babeld.conf),
# - *.conf files in the directory defined by conf_dir (default: /tmp/babel.d/),
# - this UCI configuration file.

# See "man babeld" for all available options ("Global options").
# Important: remember to use '_' instead of '-' in option names.
config general
	# option 'random_id' 'true'
	# option 'debug' '1'
	# option 'local_port' '33123'
	# option 'log_file' '/var/log/babeld.log'
	## Enable ipv6-subtrees by default since OpenWrt should ship with a
	## recent enough kernel for it to work.
	option 'ipv6_subtrees' 'true'
	# list 'import_table' '42'
	# list 'import_table' '100'
	## Alternative configuration file and directory.
	## See comment at the top of this file for more details.
	# option 'conf_file' '/etc/babeld.conf'
	# option 'conf_dir' '/tmp/babel.d/'

config interface
	## Remove this line to enable babeld on this interface
	option 'ignore' 'true'
	## You can use aliases (like lan, wlan) or real names (like eth0.0).
	## If you use an alias, it must be already defined when babeld starts.
	## Otherwise, the name is taken literally and the interface can be
	## brought up later (useful for tunnels for instance).
	option 'ifname' 'wlan'
	## You can set options, see babeld man page ("Interface configuration")
	# option 'rxcost' '256'
	# option 'hello_interval' '1'

config interface
	option 'ignore' 'true'
	## Physical interface name
	option 'ifname' 'tun-example'
	# option 'max_rtt_penalty' '90'

# A config interface without "option ifname" will set default options
# for all interfaces.  Interface-specific configuration always overrides
# default configuration.
config interface
	# option 'enable_timestamps' 'true'
	# option 'update_interval' '30'


# A filter consists of a type ('in', 'out' or 'redistribute'), an action
# ('allow', 'deny' or 'metric xxx') and a set of selectors ('ip', 'eq',
# etc.).  See babeld man page ("Filtering rules") for more details.
# Here is a sample filter wich redistributes the default route if its
# protocol number is "boot", e.g. when it installed by dhcp.  It is
# disabled by default.
config filter
	option 'ignore'	'true'
	# Type
	option 'type'	'redistribute'
	# Selectors: ip, eq, le, ge, src_ip, src_eq, src_le, src_ge, neigh, id,
	# proto, local, if.
	option 'ip'	'0.0.0.0/0'
	option 'eq'	'0'
	option 'proto'	'3'
	# Action (one of: allow, deny, metric XXX, src-prefix XXX).
	option 'action'	'metric 128'

# Notice that the 'local' selector is a boolean.
config filter
	option 'ignore'	'true'
	option 'type'	'redistribute'
	option 'local'	'true'
	# No action means "allow"
