
config zerotier sample_config
	option enabled 0

	# persistent configuration folder (for ZT controller mode)
	#option config_path '/etc/zerotier'

	# restart ZT when wan status changed
	option interface 'wan'

	#option port '9993'

	# Generate secret on first start
	option secret 'generate'

	# Join a public network called Earth
	list join '8056c2e21c000001'
