config dump1090 main
	option disabled '1'
	option respawn '1'
	option device_index ''
	option gain ''
	option enable_agc '0'
	option freq ''
	option ifile ''
	option raw '0'
	option net '1'
	option modeac '0'
	option net_beast '0'
	option net_only '0'
	option net_bind_address ''
	option net_http_port '8080'
	option net_ri_port ''
	option net_ro_port ''
	option net_sbs_port ''
	option net_bi_port ''
	option net_bo_port ''
	option net_ro_size ''
	option net_ro_rate ''
	option net_heartbeat ''
	option net_buffer ''
	option lat ''
	option lon ''
	option fix '0'
	option no_fix '0'
	option no_crc_check '0'
	option phase_enhance '0'
	option agressive '0'
	option mlat '0'
	option stats '0'
	option stats_every ''
	option onlyaddr '0'
	option metric '0'
	option snip ''
	option debug ''
	option ppm ''
