config dansguardian 'dansguardian'
	option config_file '/etc/dansguardian/dansguardianf1.conf'
	option accessdeniedaddress 'http://YOURSERVER.YOURDOMAIN/cgi-bin/dansguardian.pl'
	option bannediplist '/etc/dansguardian/lists/bannediplist'
	option contentscanexceptions 'off'
	option contentscannertimeout '60'
	option createlistcachefiles 'on'
	option custombannedflashfile '/usr/share/dansguardian/blockedflash.swf'
	option custombannedimagefile '/usr/share/dansguardian/transparent1x1.gif'
	option deletedownloadedtempfiles 'on'
	option downloadmanager '/etc/dansguardian/downloadmanagers/default.conf'
	option exceptioniplist '/etc/dansguardian/lists/exceptioniplist'
	option filecachedir '/tmp'
	option filtergroups '1'
	option filtergroupslist '/etc/dansguardian/lists/filtergroupslist'
	option filterip ''
	option filterports '8080'
	option forcequicksearch 'off'
	option forwardedfor 'off'
	option hexdecodecontent 'off'
	option initialtrickledelay '20'
	option ipcfilename '/tmp/.dguardianipc'
	option ipipcfilename '/tmp/.dguardianipipc'
	option languagedir '/usr/share/dansguardian/languages'
	option language 'ukenglish'
	option logadblocks 'off'
	option logchildprocesshandling 'off'
	option logclienthostnames 'off'
	option logconnectionhandlingerrors 'on'
	option logexceptionhits '2'
	option logfileformat '1'
	option loglevel '2'
	option loglocation '/dev/null'
	option logsyslog 'on'
	option loguseragent 'off'
	option maxagechildren '500'
	option maxchildren '120'
	option maxcontentfilecachescansize '20000'
	option maxcontentfiltersize '256'
	option maxcontentramcachescansize '2000'
	option maxips '0'
	option maxsparechildren '32'
	option maxuploadsize '-1'
	option minchildren '8'
	option minsparechildren '4'
	option nodaemon 'off'
	option nologger 'off'
	option nonstandarddelimiter 'on'
	option perroomblockingdirectory '/etc/dansguardian/lists/bannedrooms/'
	option phrasefiltermode '2'
	option prefercachedlists 'off'
	option preforkchildren '6'
	option preservecase '0'
	option proxyip '127.0.0.1'
	option proxyport '3128'
	option proxytimeout '20'
	option recheckreplacedurls 'off'
	option reportinglevel '3'
	option reverseaddresslookups 'off'
	option reverseclientiplookups 'off'
	option scancleancache 'on'
	option showweightedfound 'on'
	option softrestart 'off'
	option trickledelay '10'
	option urlcacheage '900'
	option urlcachenumber '1000'
	option urlipcfilename '/tmp/.dguardianurlipc'
	option usecustombannedflash 'on'
	option usecustombannedimage 'on'
	option usexforwardedfor 'off'
	option weightedphrasemode '2'
