package babeld

config general
	# option 'multicast_address' 'ff02:0:0:0:0:0:1:6'
	# option 'port' '6696'
	# option 'state_file' '/var/lib/babel-state'
	# option 'hello_interval' '4'
	# option 'wired_hello_interval' '20'
	# option 'diversity' '0,128'
	# option 'smoothing_half_time' '4'
	# option 'kernel_priority' '0'
	# Do not use this option unless you know what you are doing, as it can
	# cause persistent route flapping.
	## option 'duplication_priority' '0'
	# option 'carrier_sense' 'false'
	# option 'assume_wireless' 'false'
	# option 'no_split_horizon' 'false'
	# option 'debug' '0'
	# Listen for connections from a front-end, e.g. on port 33123.
	## option 'local_server' '33123'
	# option 'random_router_id' 'false'
	# Keep unfeasible routes
	## option 'keep_unfeasible' 'false'
	# Use the given kernel routing table for routes inserted by babeld.
	## option 'export_table' '0'
	# Export routes from the given kernel routing tables.
	## list 'import_table' '0'
	## list 'import_table' '42'
	# The configuration file is not necessary since you can do everything
	# from this file.
	# option 'conf_file' '/etc/babeld.conf'
	# option 'log_file' '/var/log/babeld.log'

# You can use aliases (like lan, wlan) or real names (like eth0.0).
# If you use an alias, it must be already defined when babeld starts.
# Otherwise, the name is taken literally and the interface can be
# brought up later (useful for tunnels for instance).
config interface wlan
	# Remove this line to enable babeld on this interface
	option 'ignore' 'true'
	# option 'wired' 'auto'
	# option 'link_quality' 'auto'
	# option 'split_horizon' 'auto'
	# The default is 96 for wired interfaces, and 256 for wireless ones
	## option 'rxcost' '256'
	# The default is specified with the -h and -H command-line flags.
	## option 'hello_interval' '4'
	# This can be set to a fairly large  value,  unless significant
	# packet loss is expected.  The default is four times the hello
	# interval.
	## option 'update_interval' '16'
	# Options to enable and configure RTT-based metric
	## option 'enable_timestamps' 'false'
	## option 'max_rtt_penalty' '0'
	## option 'rtt_decay' '42'
	## option 'rtt_min' '10'
	## option 'rtt_max' '120'

config interface lan
	option 'ignore' 'true'

# A filter consists in a type ('in', 'out' or 'redistribute'), an action
# ('allow', 'deny' or 'metric xxx') and a set of selectors ('ip', 'eq',
# etc.).  See /etc/babeld.conf for more details.
# Here is a sample filter wich redistributes the default route if its
# protocol number is "boot", e.g. when it installed by dhcp.  It is
# disabled by default.
config filter
	option 'ignore' 'true'
	# Type
	option 'type' 'redistribute'
	# Selectors: ip, eq, le, ge, neigh, id, proto, local, if
	option 'ip' '0.0.0.0/0' 
	option 'le' '0'
	option 'proto' '3'
	# Action 
	option 'action' 'metric 128'

