#config udpbroadcastrelay
    #option id 1 		# must be unique number between instances with range 1-63 
    #option port 5353 	# destination udp port to listen to. range 1-65535.
    #list network lan 	# name of an interface to rx and tx packets on. needs to be specified at least twice
    #list network guest
    #list blockcidr 192.168.20.20/32	# can be used to block packets from a range of IP source addresses, given in CIDR notation
    #list blockcidr
    #list allowcidr 192.168.1.0/24	# can be used to only allow packets from a range of IP source addresses, given in CIDR notation
    #list allowcidr 192.168.20.0/24
    #option src_override 1.1.1.1	# source address for all packets can be modified. A special source ip of 1.1.1.1 can be used to change the source ip of the relayed packets to match the ip address of the relay server's destination interface
    #option multicast 224.0.0.251
    #option debug 0			# set to 1 for more debug output

# mDNS example
    # option id 1
    # option port 5353
    # list network lan
    # list network guest
    # option multicast 224.0.0.251
    # option src_override 1.1.1.1

# SSDP example
    # option id 2
    # option port 1900
    # list network lan
    # list network guest
    # option multicast 239.255.255.250
