config eventcat
    option mode 'connectivity_check'       # Modes: 'connectivity_check', 'periodic'
    option action 'reboot'                 # Actions: 'reboot', 'restart_interface', 'run_script'
    option period '6h'                     # 10, 10s, 1h, 7d
    option interface 'wan'                 # Network interface to monitor or restart
    list   host '8.8.8.8'                  # List of hosts to check
    # option script '/usr/bin/custom_script.sh'  # Script to run when action is 'run_script'
    option address_family 'ipv4'           # Options: 'ipv4', 'ipv6', 'any'
    option ping_interval '30'              # Interval between connectivity checks
    option ping_timeout '5'                # Timeout for each ping
