config pool
	option hostname '2.openwrt.pool.ntp.org'
	option maxpoll '12'
	option maxsources '4'
	option iburst '1'
	option prefer '0'
	# option xleave '0'

config dhcp_ntp_server 'dhcp_ntp_server'
	option iburst '1'
	option disabled '0'

config allow 'allow'
	option interface 'lan'

config makestep 'makestep'
	option threshold '1.0'
	option limit '3'

config nts 'nts'
	option rtccheck '1'
	option systemcerts '1'

#config smoothtime 'smoothtime'
	# option maxppm '400'
	# option maxwander '0.01'
	# option leaponly '0'

#config systemclock 'systemclock'
	# option precision '8e-6'
	# option leapsecmode 'slew'

#config logging 'logging'
	# option logchange '0.01'
