# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2026 OpenWrt.org
#
# /etc/config/readsb -- declarative UCI config for the readsb-wiedehopf
# package. Manage interactively with `readsb-setup`, `readsb-feeder`,
# `readsb-uuid`, `readsb-geoip` (each accepts -h / --help) instead of
# editing this file by hand. Comments in UCI config files are NOT
# preserved across `uci commit`; documentation lives in those CLIs and
# in the package README.
#
# Full reference, aggregator preset list, operational notes, and the
# list of out-of-scope aggregators (FlightAware, FR24, RadarBox,
# Planefinder) are in:
#     https://github.com/openwrt/packages/blob/master/utils/readsb-wiedehopf/README.md

config readsb 'main'
	option enabled '1'
	option hotplug '1'
	option beast_crc_off '0'
	option beast_df045_on '0'
	option beast_df1117_on '0'
	option beast_fec_off '0'
	option beast_mlat_off '0'
	option beast_modeac '0'
	option beast_baudrate ''
	option beast_serial ''
	option dcfilter '0'
	option debug ''
	option device ''
	option device_type ''
	option enable_agc '0'
	option enable_biastee '0'
	option fix '1'
	option freq ''
	option forward_mlat '0'
	option forward_mlat_sbs '0'
	option gain 'auto'
	option gnss '0'
	option json_location_accuracy '2'
	option json_separate_alt_ground ''
	option json_trace_hist_only ''
	option lat ''
	option lon ''
	option geoip_wait_timeout '60'
	option geoip_wait_interval '10'
	option usb_wait_timeout '0'
	option usb_wait_interval '2'
	option max_range '450'
	option metric '0'
	option modeac '0'
	option modeac_auto '0'
	option net '1'
	option net_api_port ''
	option net_asterix_in_port ''
	option net_asterix_out_port ''
	option net_asterix_reduce '0'
	option net_beast_reduce_filter_alt ''
	option net_beast_reduce_filter_dist ''
	option net_beast_reduce_interval ''
	option net_beast_reduce_optimize_for_mlat '0'
	option net_beast_reduce_out_port '30006'
	option net_bi_port '30004,30104'
	option net_bind_address ''
	option net_bo_port '30005'
	option net_buffer ''
	option net_connector_delay ''
	option net_garbage ''
	option net_heartbeat ''
	option net_ingest '0'
	option net_json_port ''
	option net_json_port_include_noposition '0'
	option net_json_port_interval ''
	option net_only '1'
	option net_receiver_id '0'
	option net_ri_port '30001'
	option net_ro_port '30002'
	option net_ro_interval ''
	option net_ro_interval_beast_reduce ''
	option net_ro_size ''
	option net_sbs_in_port ''
	option net_sbs_jaero_in_port ''
	option net_sbs_jaero_port ''
	option net_sbs_port '30003'
	option net_sbs_reduce '0'
	option net_uat_in_port ''
	option net_uat_replay_port ''
	option net_verbatim '0'
	option net_vrs_interval ''
	option net_vrs_port ''
	option no_fix_df '0'
	option onlyaddr '0'
	option ppm '0'
	option position_persistence ''
	option preamble_threshold ''
	option process_only ''
	option range_outline_hours '24'
	option sdr_buffer_size ''
	option show_only ''
	option stats '1'
	option stats_every '120'
	option stats_range '0'
	option uuid_file ''
	option write_globe_history ''
	option write_json '/var/run/readsb'
	option write_json_every '1'
	option write_json_globe_index '0'
	option write_json_gzip '0'
	option write_prom ''
	option write_receiver_id_json '0'
	option write_state ''
	option write_state_every ''
	option write_state_only_on_exit '0'
	option db_file ''
	option db_file_lt '0'
	option decode_threads ''
	option ac_hash_bits ''
	option api_shutdown_delay ''
	option full_trace_dir ''
	option heatmap ''
	option heatmap_dir ''
	option jaero_timeout ''
	option json_reliable ''
	option json_trace_interval ''
	option tar1090_use_api '0'
	option uuid ''
	option extra_args ''
