# config nullmailer
  # option localfqdnhostname 'helohostname' # required
  # option adminaddr 'user@to.appear.as'
  # option defaultdomain 'defaultdomain'
  # option defaulthost 'defaulthost'
  # option queuetime 60
  # option sendtimeout 3600

# config remote
  # option smarthost 'remotemailserver' # required
  # option port 25
  # option authlogin 0 # whether to use LOGIN instead of PLAIN
  # option username 'username'
  # option password 'password'
