config settings 'settings'
	option enabled '0'
	option mode 'failover'
	option check_interval '30'

config interface 'wan1'
	option enabled '1'
	option device 'wg0'
	option metric '1'
	option weight '3'
	option ping_target '1.1.1.1'
	option ping_count '3'
	option ping_timeout '2'

config interface 'wan2'
	option enabled '1'
	option device 'wg1'
	option metric '2'
	option weight '3'
	option ping_target '8.8.8.8'
	option ping_count '3'
	option ping_timeout '2'
