config settings 'settings'
	option enabled '0'
	option mode 'failover'
	option check_interval '30'
	option audit 'error'

config interface
	option ping_target '9.9.9.9'
	option device 'wg0'
	option metric '20'
	option weight '3'
	option ping_count '3'
	option ping_timeout '2'

config interface
	option ping_target '1.0.0.1'
	option device 'wg1'
	option weight '3'
	option ping_count '3'
	option ping_timeout '2'
	option metric '30'
