
config interface
	option enabled '0'
	# send router advertisment over this device
	# alternative: option device 'lan'
	option ifname 'br-lan'
	# lifetime of the default route (in seconds)
	# option default_lifetime '0'
	# option valid_lifetime '86400'
	# option preferred_lifetime '14400'
	# option max_router_adv_interval '600'
	# option min_router_adv_interval '200'
	list prefix_on_link '300::/64'
	list prefix_off_link '200::/64'
	list dns '2001:4860:4860::8888'
