
config ustreamer 'video0'
	option enabled '1'

	option device '/dev/video0'
	option device_timeout '5'
	option input '0'

#	option resolution '1920x1080'
#	option resolution '1280x720'
#	option resolution '800x600'
#	option resolution '864x480'
	option resolution '640x480'
	option desired_fps '0'
	option slowdown '1'
	option format 'MJPEG'
#	option format 'YUYV'
#	option encoder 'CPU'
	option encoder 'HW'
	option quality '80'

	option host '::'
	option port '8080'
	option user ''
	option pass ''

	# capturing
#	option allow_truncated_frames '0'
#	option format_swap_rgb '0'
#	option persistent '0'
#	option dv_timings '0'
#	option tv_standard 'PAL'
#	option tv_standard 'NTSC'
#	option tv_standard 'SECAM'
#	option io_method 'MMAP'
#	option io_method 'USERPTR'
#	option buffers '3'
#	option workers '2'
#	option m2m_device '/dev/path'
#	option min_frame_size '128'
#	option device_error_delay '1'

	# HTTP server
#	option tcp_nodelay '1'
#	option unix_rm '0'
#	option static '/www/webcam'
#	option unix '/path/to/socket'
#	option unix_mode '660'
#	option drop_same_frames '0'
#	option fake_resolution '640x480'
#	option allow_origin ''
#	option instance_id ''
#	option server_timeout '10'

	# JPEG sink
#	option jpeg_sink 'name.jpeg'
#	option jpeg_sink_mode '660'
#	option jpeg_sink_client_ttl '10'
#	option jpeg_sink_timeout '1'
#	option jpeg_sink_rm '0'

	# RAW sink
#	option raw_sink 'name.raw'
#	option raw_sink_mode '660'
#	option raw_sink_client_ttl '10'
#	option raw_sink_timeout '1'
#	option raw_sink_rm '0'

	# H264 sink
#	option h264_sink 'name.h264'
#	option h264_sink_mode '660'
#	option h264_sink_client_ttl '10'
#	option h264_sink_timeout '1'
#	option h264_sink_rm '0'
#	option h264_boost '0'
#	option h264_bitrate '5000'
#	option h264_gop '30'
#	option h264_m2m_device '/dev/path'
#	option exit_on_no_clients '0'

	# logging
#	option log_level '0'

	# image control
#	option image_default '0'
#	option brightness '128'
#	option contrast '128'
#	option saturation '128'
#	option gamma ''
#	option gain 'auto'
#	option hue ''
#	option sharpness '128'
#	option color_effect ''
#	option white_balance 'auto'
#	option white_balance '2000-6500'
#	option backlight_compensation '0'
#	option flip_horizontal '0'
#	option flip_vertical '0'
#	option rotate ''
