name: Test and Build

on:
  pull_request:

jobs:
  formalities:
    name: Test Formalities
    uses: openwrt/actions-shared-workflows/.github/workflows/formal.yml@main
    with:
      post_comment: true

  build:
    name: Feeds Package Test Build
    needs: formalities
    uses: openwrt/actions-shared-workflows/.github/workflows/multi-arch-test-build.yml@main
