# UPnP IGD & PCP/NAT-PMP Service Settings (v1.1)
config upnpd 'config'
	option enabled                    '0'
	option enable_upnp_igd            '1'
	option enable_pcp_natpmp          '1'
	option allow_third_party_mapping  '0'
	# Extra logging by setting to info or debug (previously 1)
	option log_output                 '0'
	option upnp_igd_compat            'igdv1'
	# Report interface link speed by default, options new in kbit/s
	#option upnp_igd_download
	#option upnp_igd_upload

# Enabled internal networks / Access Control List (ACL) preset
# To check custom ACL set acl_preset to custom or check_custom_acl to last
config internal_network
	option interface                  'lan'
	option acl_preset                 'accept-high-ports'

# Custom ACL
# An empty ACL is rejected, and IPv6 is always accepted unless disabled
config perm_rule
	option comment                    'Low/system ports'
	option action                     'deny'
	option int_addr                   '0.0.0.0/0'
	option int_ports                  '1-1023'
	option ext_ports                  '1-1023'

config perm_rule
	option comment                    'High ports (accepted by default)'
	option action                     'allow'
	option int_addr                   '0.0.0.0/0'
	option int_ports                  '1024-65535'
	option ext_ports                  '1024-65535'

config perm_rule
	option comment                    'All ports'
	option action                     'deny'
	option int_addr                   '0.0.0.0/0'
	option int_ports                  '1-65535'
	option ext_ports                  '1-65535'
