# UPnP IGD & PCP/NAT-PMP Service Settings (v2.0)

config upnpd 'settings'
	option enabled                    '0'
	# Can be set to all/upnp-igd/pcp+nat-pmp
	option enable_protocols           'all'
	option allow_third_party_mapping  '0'
	# Extra logging by setting to info or debug (previously 1)
	option log_output                 'default'
	option upnp_igd_compat            'igdv1'

# Enable Networks / Access Control

config internal_network
	option interface                  'lan'
	option access_preset              'accept-high-ports'
	#option accept_ports
	#option reject_ports              '21 23 135 137-139 445 3389'
	option ignore_acl                 '1'

# Access Control List
# Empty ACL rejected alone, IPv6 accepted unless disabled

config perm_rule
	option comment                    'Allow high ports'
	option int_addr                   '0.0.0.0/0'
	option int_ports                  '1024-65535'
	option ext_ports                  '1024-65535'
	option action                     'allow'

config perm_rule
	option comment                    'Default deny'
	option int_addr                   '0.0.0.0/0'
	option int_ports                  '1-65535'
	option ext_ports                  '1-65535'
	option action                     'deny'
